* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth; /*scroll suave*/
}

/*deixar conteudo fixo no centro da pagina:*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

#cabecalho .container {
    /*obter flexibilidade nos elementos filhos:*/
    display: flex; /*elementos um ao lado do outro*/
    align-items: center; /*centralizar o elemento, removendo distorção da imagem*/
}

/*container2 -> exclusivo para o menu principal*/
#cabecalho .container2 {
    background: #37003c;
    display: flex; 
    align-items: center;
}

/*class ativada com js para fixar o menu principal:*/
#cabecalho .cabecalho-rolagem {
    position: fixed; /*fixar menu na tela*/
    width: 100%;
    top: 0;
    z-index: 999; /*sobreposição nos itens*/
}

/*Menu dos times:*/
#menu-times .img-link-externo { /*ajustes na imagem ao lado do texto*/
    width: 12px;
    margin-left: 2px;
}

#menu-times .img-logos-clubes { /*padrão de tamanho*/
    width: 32px;
    height: 32px;
}

#cabecalho #menu-times ul {
    display: flex;
}

#cabecalho #menu-times li {
    list-style: none; /* remover ponto da lista */
}

#cabecalho #menu-times h5 { /*formatação do texto 'clubes sites'*/
    display: block;
    padding: 12px;
    margin-top: 9px;
    font-weight: 700;
    color: #76766f;
    font-size: 10px;
    white-space: nowrap; /*impedir quebra de linha*/
}

#cabecalho #menu-times a {
    display: block;
    padding: 12px;
}

#cabecalho #menu-times a:hover { /*ação ao passar o mouse por cima do emblema dos clubes*/
    scale: 1.2;
    transition: 0.1s;
}

/*MENU PRINCIPAL:*/
#cabecalho .box-logo .img-logo-premier { /*definir tamanho da imagem do menu principal*/
    width: 70px;
}

#cabecalho #menu ul {
    display: flex;
}

#cabecalho #menu li {
    list-style: none; /* remover ponto da lista */
}

#cabecalho #menu a { /*formatação do texto do menu principal*/
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
}

#cabecalho #menu a:hover { /*ação ao passar o mouse em cima das opções do menu principal*/
    scale: 1.1;
    transition: 0.1s;
}

#cabecalho .box-logo { /*fundo para comportar a logo da premier no menu principal*/
    background-color: #FFFFFF;
    border-radius: 0px 45px 45px 0px;
}

#cabecalho .box-logo:hover { /*ação ao passar o mouse em cima da logo do menu principal*/
    scale: 1.2;
    transition: 0.2s;
}

#conteudo #banners { /*espaço entre o menu e o slider*/
    margin-top: 15px;
}

/*conteudo do index*/
#conteudo #conteudo-inicial { 
    margin-bottom: 15px;
}

/*box de direcionar para o site da premier:*/
#conteudo #conteudo-inicial .direcionar-site {
    height: 70px; 

    margin-top: 15px;

    display: grid; /*grade dos links*/
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

#conteudo #conteudo-inicial .direcionar-site a { /*remover sublinhado dos links*/
    text-decoration: none;
}

#conteudo #conteudo-inicial .direcionar-site a:hover { /*diminuir box ao passar mouse em cima*/
    scale: 0.95;
}

#conteudo #conteudo-inicial .direcionar-site p a:hover { /*add sublinhado ao texto ao passar mouse sobre*/
    text-decoration: underline;
}

#conteudo #conteudo-inicial .direcionar-site .box-desc { /*largura da primeira div da grid*/
    width: 400px;
    border: 2px solid #37003c;
}

#conteudo #conteudo-inicial .direcionar-site .box-desc h1 { /*propriedades do titulo da grid*/
    color: #37003c;
    font-size: 29px;
    margin-left: 8px;
}
#conteudo #conteudo-inicial .direcionar-site .box-desc p {
    margin-left: 8px;
}

#conteudo #conteudo-inicial .direcionar-site .box-siteoficial {
    border: 1px solid #FFFFFF;
    background-color: #37003c;
}

#conteudo #conteudo-inicial .direcionar-site .box-siteoficial p {
    height: 70px; 
    width: 200px;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
}

/*box de curiosidades:*/
#conteudo #conteudo-inicial .curiosidades { /*deixar texto e imagem lado a lado*/
    display: flex;
}

#conteudo #conteudo-inicial .curiosidades .img-taca { /*propriedades da imagem da taça*/
    width: 300px;
    margin-top: 15px;
    border: 2px solid #37003c;
    /* float: left; */
}

#conteudo #conteudo-inicial .curiosidades .texto-curiosidades {
    margin-top: 10px;
    margin-left: 30px;
}

#conteudo #conteudo-inicial .curiosidades .texto-curiosidades h1 {
    margin-left: 315px;
    color: #37003c;
    font-size: 35px;
    margin-bottom: 10px;
}

#conteudo #conteudo-inicial .curiosidades .texto-curiosidades ul li {
    margin-bottom: 5px; /*espaçamento entre curiosidades*/
    text-align: justify;
}

/* RODAPE: */
#rodape .patrocinios {
    display: grid; /*grade dos patrocinios*/
    grid-template-columns: repeat(5, 1fr);
    place-items: center; /*alinhamento horizontal e vertical*/

    /*fixar no centro da tela:*/
    max-width: 1200px;
    margin: 0 auto;

    /*ajustes nos espaços:*/
    margin-bottom: -21px;

    /*borda superior:*/
    border-top: 5px solid #37003c;
}

#rodape .creditos { /*definição das propriedades dos créditos do rodapé*/
    background: #37003c;
    text-align: center;
    color: #FFFFFF;
    font-weight: 200;
    font-size: 13px;
    padding: 15px;

    position: relative; /*para posicionar a seta de voltar ao topo*/
}

#rodape .creditos a { /*deixar links com aparência igual ao texto*/
    color: #FFFFFF;
    text-decoration: none;
}

#rodape .creditos .texto-rodape a:hover { /*ação ao passar o mouse sobre os links*/
    text-decoration: underline;
}

#rodape .creditos .btn-voltar-topo { /*definição das propriedades do 'botão'*/
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    /*posicionar o 'botão' em relação a div dos creditos (canto da página)*/
    position: absolute;
    bottom: 15px;
    right: 20px;
}

#rodape .creditos .btn-voltar-topo span{ /*corrigir posição da seta dentro da div*/
    font-size: 15px;
    margin-bottom: 4px;
}

#rodape .creditos .btn-voltar-topo:hover { /*ação ao passar o mouse sobre o 'botão'*/
    scale: 1.2;
    transition: 0.1s;
    background-color: #FFFFFF;
    color: #37003c;
}

